<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.core.resources" name="Incremental Project Builders" schema="schema/org.eclipse.core.resources.exsd"/>
   <extension-point id="org.eclipse.ui.javaScriptProjectNatureImage" name="JavaScript Nature Image" schema="schema/org.eclipse.ui.javaScriptProjectNatureImage.exsd"/>

   <extension
         id="PropertiesFileAuditor"
         name="Properties File Auditor Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.symbian.tools.wrttools.builder.PropertiesFileAuditor">
         </run>
      </builder>
   </extension>
   <extension
         id="PropertiesAuditorNature"
         name="Properties Auditor Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.symbian.tools.wrttools.builder.PropertiesAuditorNature">
         </run>
      </runtime>
      <requires-nature id="org.eclipse.wst.jsdt.core.jsNature"/>
      <requires-nature id="org.eclipse.pde.PluginNature"/>
      <builder
            id="org.symbian.tools.wrttools.builder.PropertiesFileAuditor">
      </builder>
   </extension>
   <extension-point id="projectTemplates" name="WRT application project templates" schema="schema/projectTemplates.exsd"/>
    <extension
         id="org.symbian.tools.wrttools.core.cssvalidator"
         name="CSS Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.symbian.tools.wrttools.core.internal.validation.CssBuildValidator"
            manual="true"
            markerId="org.symbian.tools.wrttools.core.cssValidationMarker"
            version="0.0.1">
         <include>
            <rules>
               <contentType
                     exactMatch="false"
                     id="org.eclipse.wst.css.core.csssource">
               </contentType>
            </rules>
         </include>
      </validator>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.symbian.tools.wrttools.core.category"
            name="Web Runtime(WRT)">
      </category>
      <wizard
            category="org.symbian.tools.wrttools.core.category"
            class="org.symbian.tools.wrttools.wizards.WrtWidgetWizard"
            finalPerspective="org.eclipse.wst.jsdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/main16.gif"
            id="org.symbian.tools.wrttools.core.wrtwidgetwizard"
            name="Web Runtime Application"
            project="true">
         <description>
            Creates a new Symbian WRT application project using one of the provided templates
         </description>
      </wizard>
      <wizard
            category="org.symbian.tools.wrttools.core.category"
            class="org.symbian.tools.wrttools.wizards.AptanaProjectsImportWizard"
            finalPerspective="org.eclipse.wst.jsdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/main16.gif"
            id="org.symbian.tools.wrttools.newImportAptanaProject"
            name="Import Aptana IDE WRT Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.symbian.tools.wrttools.projectTemplates">
      <projectTemplate
            archive="projecttemplates/basic.zip"
            default-css-name="basic"
            default-html-name="index"
            default-js-name="basic"
            icon="icons/main16.gif"
            id-pattern="com.{0}.basic.widget"
            name="Basic Widget Project">
         <description>
            This wizard generates an empty widget project with a minimal Info.plist, html,css and js.
         </description>
      </projectTemplate>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.symbian.tools.wrttools.import"
            name="Web Runtime(WRT)">
      </category>
      <wizard
            category="org.symbian.tools.wrttools.import"
            class="org.symbian.tools.wrttools.wizards.AptanaProjectsImportWizard"
            icon="icons/main16.gif"
            id="org.symbian.tools.wrttools.import.aptanaImport"
            name="Aptana IDE WRT Project">
      </wizard>
   </extension>
      <extension
         id="org.symbian.tools.wrt.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.symbian.tools.wrt.jsProblem"
         name="JSProblem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="plist"
            id="org.symbian.tools.wrttools.contenttype.plist"
            name="WebRuntime Descriptor File"
            priority="normal">
      </content-type>
   </extension>
</plugin>
