<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="deploymentTargetType" name="Provides targets for project deployments" schema="schema/deploymentTargetType.exsd"/>
   <extension-point id="targetPresentation" name="Deployment Target Presentation" schema="schema/targetPresentation.exsd"/>
   <extension-point id="projectTemplate" name="Mobile Application Project Templates" schema="schema/projectTemplate.exsd"/>
   <extension-point id="wizardPages" name="Extensions for the New Application Wizard" schema="schema/wizardPages.exsd"/>
	<!-- Navigator Extensions -->
	<extension point="org.eclipse.ui.navigator.viewer">
	  <viewerActionBinding
	        viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	     <includes>
	        <actionExtension
	              pattern="org.symbian.tmw.ui.navigator.MoveRename">
	        </actionExtension>
	     </includes>
	  </viewerActionBinding>
	</extension>
	 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             type="import"
             wizardId="org.symbian.tools.wrttools.importwgz">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="group.new.z"
             type="new"
             wizardId="org.symbian.tools.tmw.newproject">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="org.eclipse.wst.jsdt.ui.java"
             type="new"
             wizardId="org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="org.eclipse.wst.jsdt.ui.java"
             type="new"
             wizardId="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             type="import"
             wizardId="org.symbian.tools.wrttools.import.projectImport">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
		  <commonWizard
          associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
          menuGroupId="org.eclipse.wst.jsdt.ui.java"
          type="new"
          wizardId="org.eclipse.wst.jsdt.ui.NewJSWizard">
		     <enablement>
			     <or>
     <adapt
           type="org.eclipse.core.resources.IFolder">
        <test
              property="org.eclipse.core.resources.projectNature"
              value="org.eclipse.wst.jsdt.core.jsNature">
        </test>
     </adapt>
				</or>
		     </enablement>
		  </commonWizard>
    <actionProvider
          class="org.symbian.tools.tmw.ui.navigator.RenameMoveActionProvider"
          id="org.symbian.tmw.ui.navigator.MoveRename"
          overrides="org.eclipse.wst.jsdt.ui.navigator.actions.RefactorActions"
          priority="highest">
          <enablement>
             <and>
                <adapt
                  type="org.eclipse.core.resources.IProject">
                </adapt>
             </and>
          </enablement>
    </actionProvider>
 </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="org.symbian.tools.tmw"
           name="Tools for Mobile Web">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
    <handler
          class="org.symbian.tools.tmw.ui.commands.DeployHandler"
          commandId="org.symbian.tools.wrttools.commands.deploy">
       <enabledWhen>
          <reference
                definitionId="org.symbian.tools.tmwprojectselected">
          </reference>
       </enabledWhen>
    </handler>
  </extension>
  <extension
        point="org.symbian.tools.tmw.ui.deploymentTargetType">
     <deployment-target-type
           class="org.symbian.tools.tmw.ui.deployment.bluetooth.BluetoothTargetType"
           icon="icons/full/obj16/bluetooth.gif"
           id="org.symbian.tools.tmw.bluetooth"
           long-running="true"
           priority="10">
     </deployment-target-type>
     <deployment-target-type
           class="org.symbian.tools.tmw.internal.ui.deployment.targets.ExternalApplicationDeploymentType"
           id="org.symbian.tools.tmw.externalApp"
           priority="1000">
     </deployment-target-type>
     <deployment-target-type
           class="org.symbian.tools.tmw.internal.ui.deployment.targets.FilesystemDeploymentTarget"
           icon="icons/full/obj16/folder.gif"
           id="org.symbian.tools.tmw.fileSystem"
           priority="900">
     </deployment-target-type>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.symbian.tools.tmw.ui.deployment.bluetooth.BluetoothTarget"
           class="org.symbian.tools.tmw.ui.deployment.bluetooth.BluetoothTargetAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter2">
        </adapter>
     </factory>
     <factory
           adaptableType="org.symbian.tools.tmw.internal.ui.deployment.targets.ExternalApplicationDeploymentType"
           class="org.symbian.tools.tmw.internal.ui.deployment.targets.AdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.symbian.tools.tmw.ui.targetPresentation">
     <targetPresentation
           detailsPane="org.symbian.tools.tmw.internal.ui.deployment.targets.LocalFileSystemPane"
           targetTypeId="org.symbian.tools.tmw.fileSystem">
     </targetPresentation>
  </extension>
  <extension
        point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
           class="org.symbian.tools.tmw.internal.ui.libraries.TMWGlobalScopeContainerUI"
           id="org.symbian.tools.tmw.core.mobileWebLibrary">
     </JsGlobalScopeUIInitializer>
  </extension>
  <extension
        point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
     <JsGlobalScopeContainerPage
           class="org.symbian.tools.tmw.internal.ui.libraries.TMWContainerPage"
           id="org.symbian.tools.tmw.core.mobileWebLibrary"
           name="Tools for Mobile Web">
     </JsGlobalScopeContainerPage>
  </extension>
  <extension
        point="org.eclipse.core.expressions.definitions">
     <definition
           id="org.symbian.tools.tmwprojectselected">
           <or>
              <with
                    variable="selection">
                 <and>
                    <count
                          value="1">
                    </count>
                    <iterate>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.symbian.tools.tmw.istmwproject">
                          </test>
                       </adapt>
                    </iterate>
                 </and>
              </with>
              <and>
                 <with
                       variable="activePart">
                    <instanceof
                          value="org.eclipse.ui.IEditorPart">
                    </instanceof>
                 </with>
                 <with
                       variable="activeEditorInput">
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                       <test
                             property="org.symbian.tools.tmw.istmwproject">
                       </test>
                    </adapt>
                 </with>
              </and>
           </or>
     </definition>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.symbian.tools.tmw"
           name="Tools for Mobile Web">
     </category>
     <wizard
           canFinishEarly="false"
           category="org.symbian.tools.tmw"
           class="org.symbian.tools.tmw.ui.project.NewApplicationWizard"
           hasPages="true"
           icon="icons/full/etool16/newproject.png"
           id="org.symbian.tools.tmw.newproject"
           name="New Mobile Web Application Project"
           project="true">
     </wizard>
  </extension>
</plugin>
