<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.symbian.tools.wrttools.debug.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="org.symbian.tools.wrttools.debug.ui.DebugPreferencePage"
            id="org.symbian.tools.wrttools.debug"
            name="WebRuntime Toolkit">
         <keywordReference
               id="org.symbian.tools.wrttools.wrtwords">
         </keywordReference>
         <keywordReference
               id="org.symbian.tools.wrttools.debug.page">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.symbian.tools.wrttools.debug.internal.launch.WidgetLaunchDelegate"
            id="org.symbian.tools.wrttools.debug.widget"
            modes="debug,run"
            name="WRT Application"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.symbian.tools.wrttools.debug.ui.launch.WidgetLaunchConfigurationTabGroup"
            description="WRT Application"
            id="org.symbian.tools.wrttools.debug.wrtTabGroup"
            type="org.symbian.tools.wrttools.debug.widget">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.symbian.tools.wrttools.debug.widget"
            icon="icons/main16.gif"
            id="org.symbian.tools.wrttools.debug.widget.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.symbian.tools.wrttools.debug.ui.launch.WidgetLaunchShortcut"
            icon="icons/main16.gif"
            id="org.symbian.tools.wrttools.debug.wrtshortcut"
            label="WRT Application"
            modes="run, debug">
         <configurationType
               id="org.symbian.tools.wrttools.debug.widget">
         </configurationType>
         <contextualLaunch>
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1"/>
                     <iterate>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     forcePluginActivation="true"
                     property="org.symbian.isWrtProject"
                     >
               </test>
            </adapt>
                     </iterate>
            </with>
         </enablement>
            <contextLabel
                  label="WRT Application"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="WRT Application"
                  mode="debug">
            </contextLabel></contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.symbian.tools.wrttools.debug.internal.property.PropertyTester"
            id="org.symbian.tools.wrttools.debug.projectTester"
            namespace="org.symbian"
            properties="isWrtProject"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.symbian.tools.wrttools.debug.core.js"
            targetID="#JavaScriptRulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="org.chromium.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate"
               label="Toggle Enablement"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.chromium.debug.ui.actions.EnableDisableBreakpointAction"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.symbian.tools.wrttools.debug.ui.actions.JsBreakpointPropertiesRulerActionDelegate"
               id="org.symbian.tools.wrttools.debug.core.js.JavaBreakpointPropertiesRulerActionDelegate"
               label="Breakpoint Properties..."
               menubarPath="group.properties">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.symbian.tools.wrttools.debug.core.ro"
            targetID="#ReadOnlyJavaScriptRulerContext">
         <action
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               id="org.chromium.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate"
               label="Toggle Enablement"
               menubarPath="debug">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.chromium.debug.ui.actions.EnableDisableBreakpointAction"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.symbian.tools.wrttools.debug.ui.actions.JsBreakpointPropertiesRulerActionDelegate"
               id="org.symbian.tools.wrttools.debug.core.ro.JavaBreakpointPropertiesRulerActionDelegate"
               label="Breakpoint Properties..."
               menubarPath="group.properties">
         </action>
      </viewerContribution>
      <objectContribution
            id="org.symbian.tools.wrttools.debug.core.context"
            objectClass="java.lang.Object">
         <enablement>
            <or>
               <and>
                  <not>
                     <with
                           variable="org.eclipse.core.runtime.Platform">
                        <test
                              args="org.eclipse.debug.core"
                              property="org.eclipse.core.runtime.bundleState"
                              value="ACTIVE">
                        </test>
                     </with>
                  </not>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </and>
               <and>
                  <with
                        variable="org.eclipse.core.runtime.Platform">
                     <test
                           args="org.eclipse.debug.core"
                           property="org.eclipse.core.runtime.bundleState"
                           value="ACTIVE">
                     </test>
                  </with>
                  <test
                        property="org.eclipse.debug.core.launchable"
                        value="debug">
                  </test>
               </and>
            </or>
         </enablement>
         <action
               class="org.symbian.tools.wrttools.debug.ui.actions.DebugAction"
               enablesFor="+"
               icon="icons/debug_exc.gif"
               id="org.eclipse.debug.ui.contextualLaunch.debug.submenu"
               label="Debug"
               menubarPath="additions"
               style="push">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.symbian.tools.wrttools.debug.core.watch"
            targetID="#JavaScriptEditorContext">
         <action
               class="org.symbian.tools.wrttools.debug.ui.actions.WatchExpression"
               icon="icons/watch.gif"
               id="org.symbian.tools.wrttools.debug.core.watchExpression"
               label="Watch"
               menubarPath="group.edit">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.jsdt.internal.ui.javaeditor.JavaEditor"
            class="org.symbian.tools.wrttools.debug.internal.BreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.symbian.tools.wrttools.debug.core.CompilationUnitEditor.BreakpointRulerActions"
            targetID="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.wst.jsdt.debug.ui.actions.ManageBreakpointRulerAction"
               label="Toggle Breakpoint">
         </action>
      </editorContribution>
      <editorContribution
            id="org.symbian.tools.wrttools.debug.core.ClassFileEditor.BreakpointRulerActions"
            targetID="org.eclipse.wst.jsdt.ui.ClassFileEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.eclipse.wst.jsdt.debug.ui.actions.ManageBreakpointRulerAction"
               label="Toggle Breakpoint">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.symbian.tools.wrttools.mainPerspective">
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.debugActionSet">
         </actionSet>
         <actionSet
               id="org.symbian.tools.wrttools.debug.core.mainActions">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="org.symbian.tools.wrttools.debug.core.mainActions">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.symbian.tools.wrttools.debug.internal.model.SymbianDebugModelPresentation"
            id="org.symbian.debug">
      </debugModelPresentation>
   </extension>
     <extension point="org.eclipse.debug.core.watchExpressionDelegates">
    <watchExpressionDelegate
        debugModel="org.symbian.debug"
        delegateClass="org.symbian.tools.wrttools.debug.internal.model.JsWatchExpressionDelegate"/>
  </extension>
    <extension
          point="org.eclipse.wst.sse.ui.breakpoint">
       <breakpointContribution
             id="org.symbian.tools.wrttools.debug.htmlbreakpoints">
          <provider
                class="org.symbian.tools.wrttools.debug.internal.HtmlBreakpointProvider"
                contentTypes="org.eclipse.wst.html.core.htmlsource"
                id="org.symbian.tools.wrttools.debug.htmlbreakpoints">
          </provider>
       </breakpointContribution>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
     	 <factory 
            class="org.symbian.tools.wrttools.debug.internal.property.LaunchableFactory" 
            adaptableType="org.eclipse.wst.jsdt.core.IJavaScriptElement">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
         </factory>
         <factory 
            class="org.symbian.tools.wrttools.debug.internal.property.LaunchableFactory" 
            adaptableType="org.eclipse.core.resources.IResource">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
         </factory>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             description="Actions for WRT debugging"
             id="org.symbian.tools.wrttools.debug.core.mainActions"
             label="WRT Debug">
          <action
                class="org.symbian.tools.wrttools.debug.ui.actions.DebugAction"
                helpContextId="debug_last_action_context"
                icon="icons/debug_exc.gif"
                id="org.symbian.tools.wrttools.debug.core.debug"
                label="Debug"
                menubarPath="org.eclipse.ui.run/relaunchGroup"
                style="push"
                toolbarPath="debug">
          </action>
       </actionSet>
    </extension>
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="org.symbian.tools.wrttools.debug.page"
             label="chrome debug widget">
       </keyword>
    </extension>
    <extension
          point="org.symbian.tools.wrttools.previewer.commands">
       <command
             handler="org.symbian.tools.wrttools.debug.internal.session.TerminateSession"
             name="terminateDebug">
       </command>
    </extension>
  
</plugin>
