<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="commands" name="Previewer Command" schema="schema/commands.exsd"/>
   <extension-point id="layoutProviders" name="Application Layout Providers" schema="schema/layoutProviders.exsd"/>
    <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.symbian.tools.tmw"
            class="org.symbian.tools.tmw.previewer.preview.PreviewView"
            icon="icons/obj16/preview_view.gif"
            id="org.symbian.tools.wrttools.editing.wrtpreview"
            name="Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.symbian.tools.tmw.previewer.preferences.WrtEditingPreferencePage"
            id="org.symbian.tools.wrttools.editing.preferences.WrtEditingPreferencePage"
            name="Tools for Mobile Web">
         <keywordReference
               id="org.symbian.tools.wrttools.wrtwords">
         </keywordReference>
      </page>
   </extension>
  </plugin>
