<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Sample Page"
            nameFilter="*.*"
            class="org.symbian.tools.wrttools.jseditors.properties.SamplePropertyPage"
            id="org.symbian.tools.wrttools.jseditors.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML File"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.symbian.tools.wrttools.jseditors.editors.XMLEditor"
            id="org.symbian.tools.wrttools.jseditors.editors.XMLEditor">
      </editor>
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="jstesteditor2.editors.MultiPageEditorContributor"
            class="org.symbian.tools.wrttools.jseditors.editors.MultiPageEditor"
            id="org.symbian.tools.wrttools.jseditors.editors.MultiPageEditor">
      </editor>
      <editor
            name="Sample JavaScript File"
            extensions="js"
            icon="icons/sample.gif"
            contributorClass="org.symbian.tools.wrttools.jseditors.editors.JSEditorContributor"
            class="net.sf.wdte.js.ui.editors.JSEditor"
            id="net.sf.wdte.js.ui.editors.JSEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.symbian.tools.wrttools.jseditors.category"
            name="WRT Files">
      </category>
      <wizard
            name="XML File"
            icon="icons/new_xml.gif"
            category="org.symbian.tools.wrttools.jseditors.category"
            class="org.symbian.tools.wrttools.jseditors.wizards.NewXMLWizard"
            id="org.symbian.tools.wrttools.jseditors.wizards.NewXMLWizard">
      </wizard>
            <wizard
            name="HTML File"
            icon="icons/newhtml_wiz.gif"
            category="org.symbian.tools.wrttools.jseditors.category"
            class="org.symbian.tools.wrttools.jseditors.wizards.NewHTMLWizard"
            id="org.symbian.tools.wrttools.jseditors.wizards.NewHTMLWizard">
      </wizard>
      <wizard
            name="JavaScript File"  
            icon="icons/newjscript_wiz.gif"
            category="org.symbian.tools.wrttools.jseditors.category"
            class="org.symbian.tools.wrttools.jseditors.wizards.NewJSWizard"
            id="org.symbian.tools.wrttools.jseditors.wizards.NewJSWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="org.symbian.tools.wrttools.jseditors.preferences.SamplePreferencePage"
            id="org.symbian.tools.wrttools.jseditors.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.symbian.tools.wrttools.jseditors.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="BOTTOM_RIGHT"
            adaptable="true"
            label="Resource Decorator"
            icon="icons/sample_decorator.gif"
            state="true"
            id="org.symbian.tools.wrttools.jseditors.decorator">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Sample File Import"
            id="org.symbian.tools.wrttools.jseditors.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import File"
            icon="icons/sample.gif"
            category="org.symbian.tools.wrttools.jseditors.importWizards.sampleCategory"
            class="org.symbian.tools.wrttools.jseditors.importWizards.ImportWizard"
            id="org.symbian.tools.wrttools.jseditors.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="org.symbian.tools.wrttools.jseditors.perspectives.RelEngPerspective"
            id="org.symbian.tools.wrttools.jseditors.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         id="org.symbian.tools.wrttools.jseditors.builders.SampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.symbian.tools.wrttools.jseditors.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.symbian.tools.wrttools.jseditors.builders.SampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.symbian.tools.wrttools.jseditors.builders.SampleNature">
         </run>
      </runtime>
      <builder
            id="org.symbian.tools.wrttools.jseditors.builders.SampleBuilder">
      </builder>
   </extension>
   <extension
         id="org.symbian.tools.wrttools.jseditors.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      <extension
         id="org.symbian.tools.wrttools.jseditors.jsProblem"
         name="JS Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.symbian.tools.wrttools.jseditors.splashHandlers.InteractiveSplashHandler"
            id="org.symbian.tools.wrttools.jseditors.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="org.symbian.tools.wrttools.jseditors.splashHandlers.interactive"
            productId="org.eclipse.epp.package.rcp.product">
      </splashHandlerProductBinding>
   </extension>

</plugin>
