<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.symbian.tools.wrttools.product.perspective.WRTPerspective"
            icon="icons/WRT_perspective.png"
            id="org.symbian.tools.wrttools.mainPerspective"
            name="TMW">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.symbian.tools.wrttools.product.creationActionSet"
            label="Mobile Web Element Creation">
         <action
               class="org.symbian.tools.wrttools.product.actions.NewCSSFileAction"
               icon="icons/newcss_wiz.gif"
               id="org.symbian.tools.wrttools.product.newCssFileAction"
               label="New CSS File..."
               style="push"
               toolbarPath="wrtwizards">
         </action>
         <action
               class="org.symbian.tools.wrttools.product.actions.NewHTMLFileAction"
               icon="icons/newhtml_wiz.gif"
               id="org.symbian.tools.wrttools.product.newHtmlAction"
               label="New HTML File..."
               style="push"
               toolbarPath="wrtwizards">
         </action>
         <action
               class="org.symbian.tools.wrttools.product.actions.NewJSFileAction"
               icon="icons/newjscript_wiz.gif"
               id="org.symbian.tools.wrttools.product.newJSAction"
               label="New JavaScript File..."
               style="push"
               toolbarPath="wrtwizards">
         </action>
         <action
               class="org.symbian.tools.wrttools.product.actions.NewWRTProjectAction"
               icon="icons/newWRT_app_icon_16px.png"
               id="org.symbian.tools.wrttools.product.newWRTProjectAction"
               label="New Mobile Web Application..."
               style="push"
               toolbarPath="wrtwizards">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.wst.web.ui"
            name="Web">
      </category>
      <primaryWizard
            id="org.symbian.tools.tmw.newproject">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
      </primaryWizard>
      <primaryWizard
            id="org.eclipse.wst.jsdt.ui.NewJSWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="WTP functionality not used in Mobile Web IDE"
            id="org.symbian.tools.wrttools.product.wtp"
            name="Web Tools Platform (WTP)">
      </activity>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.import\.ExternalProject">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.launchActionSet">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.actions\.DebugLast">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.actions\.RunLast">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.actions\.OpenDebugConfigurations">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.actions\.OpenRunConfigurations">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.DebugHistoryMenuAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.RunHistoryMenuAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.RunWithConfigurationAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.DebugWithConfigurationAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.wst\.xml\.ui/org\.eclipse\.wst\.xml\.ui\.XMLExampleProjectCreationWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.wst\.xml\.ui/org\.eclipse\.wst\.xml\.ui\.perspective">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.wst\.jsdt\.ui/org\.eclipse\.wst\.jsdt\.ui\.wizards\.JavaProjectWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.wst\.jsdt\.web\.ui/org\.eclipse\.wst\.jsdt\.internal\.web\.ui\.convertProjects">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.contextualLaunch\.profile\.submenu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.RunDropDownAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.internal\.ui\.actions\.DebugDropDownAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.contextualLaunch\.run\.submenu">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            pattern="org\.eclipse\.debug\.ui/org\.eclipse\.debug\.ui\.contextualLaunch\.debug\.submenu">
      </activityPatternBinding>
      <category
            description="WTP UI elements that are not compatible with Mobile Web app development"
            id="org.symbian.tools.wrttools.product.wtp"
            name="Web Tools Platform (WTP)">
      </category>
      <categoryActivityBinding
            activityId="org.symbian.tools.wrttools.product.wtp"
            categoryId="org.symbian.tools.wrttools.product.wtp">
      </categoryActivityBinding>
      <category
            description="Chromium Developement Tools UI"
            id="org.symbian.tools.wrttools.product.chdt"
            name="Google Chrome Developer Tools">
      </category>
      <activity
            description="Google Chrome Developer Tools UI elements"
            id="org.symbian.tools.wrttools.product.chdtact"
            name="Google Chrome Developer Tools">
      </activity>
      <categoryActivityBinding
            activityId="org.symbian.tools.wrttools.product.chdtact"
            categoryId="org.symbian.tools.wrttools.product.chdt">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.chdtact"
            pattern="org\.chromium\.debug\.ui/org\.chromium\.debug\.ui\.LaunchType.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.chdtact"
            pattern="org\.chromium\.debug\.ui/org\.chromium\.debug\.ui\.actions\.CompareChangesAction">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.symbian.tools.wrttools.product.chdtact"
            pattern="org\.chromium\.debug\.ui/org\.chromium\.debug\.ui\.actions\.PushChangesAction">
      </activityPatternBinding>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Mobile Web IDE">
         <property
               name="windowImages"
               value="icons/ico/WRT_main-icon_16px.png,icons/ico/WRT_main-icon_32px.png,icons/ico/WRT_main-icon_48px.png,icons/ico/WRT_main-icon_64px.png,icons/ico/WRT_main-icon_128px.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="icons/WRT_blurb_image.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,245,410,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,400,20">
         </property>
         <property
               name="appName"
               value="Mobile Web IDE">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page            
            category="org.eclipse.ui.preferencePages.Workbench"
            name="Capabilities"
            id="org.eclipse.sdk.capabilities">
            <class class="org.eclipse.ui.activities.ActivityCategoryPreferencePage">
                <parameter name="allowAdvanced" value="true"/>
                <parameter name="captionMessage" value="Capabilities allow you to enable or disable various product components.  These capabilities are grouped according to a set of predefined categories." />
            	<parameter name="activityName" value="&amp;Capabilities" />
                <parameter name="categoryName" value="&amp;Capabilities" />
            	<parameter name="activityPromptButton" value="&amp;Prompt when enabling capabilities"/>
            	<parameter name="activityPromptButtonTooltip" value="Prompt when a feature is first used that requires enablement of capabilities"/>
            </class>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.symbian.tools.wrttools.mainPerspective">
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <actionSet
               id="org.symbian.tools.tmwtools.debug.core.mainActions">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <perspectiveShortcut
               id="org.symbian.tools.wrttools.mainPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.symbian.tools.tmwtools.debug.core.mainActions">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.debugActionSet">
         </actionSet>
         <actionSet
               id="org.symbian.tools.tmwtools.debug.core.mainActions">
         </actionSet>
      </perspectiveExtension>
   </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             description="Actions for Mobile Web debugging"
             id="org.symbian.tools.tmwtools.debug.core.mainActions"
             label="Mobile Web Debug">
          <action
                class="org.symbian.tools.wrttools.product.actions.DebugAction"
                helpContextId="debug_last_action_context"
                icon="icons/debug_exc.gif"
                id="org.symbian.tools.tmwtools.debug.core.debug"
                label="Debug"
                menubarPath="org.eclipse.ui.run/relaunchGroup"
                style="push"
                toolbarPath="debug">
          </action>
       </actionSet>
    </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.symbian.tools.tmwtools.debug.core.context"
            objectClass="java.lang.Object">
         <enablement>
            <or>
               <and>
                  <not>
                     <with
                           variable="org.eclipse.core.runtime.Platform">
                        <test
                              args="org.eclipse.debug.core"
                              property="org.eclipse.core.runtime.bundleState"
                              value="ACTIVE">
                        </test>
                     </with>
                  </not>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </and>
               <and>
                  <with
                        variable="org.eclipse.core.runtime.Platform">
                     <test
                           args="org.eclipse.debug.core"
                           property="org.eclipse.core.runtime.bundleState"
                           value="ACTIVE">
                     </test>
                  </with>
                  <test
                        property="org.eclipse.debug.core.launchable"
                        value="debug">
                  </test>
               </and>
            </or>
         </enablement>
         <action
               class="org.symbian.tools.wrttools.product.actions.DebugAction"
               enablesFor="+"
               icon="icons/debug_exc.gif"
               id="org.eclipse.debug.ui.contextualLaunch.debug.submenu"
               label="Debug"
               menubarPath="additions"
               style="push">
         </action>
      </objectContribution>
   </extension>
</plugin>
