<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.symbian.tools.wrttools.views"
            class="org.symbian.tools.wrttools.previewer.preview.PreviewView"
            icon="icons/obj16/preview_view.gif"
            id="org.symbian.tools.wrttools.editing.wrtpreview"
            name="WRT Preview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.symbian.tools.wrttools.previewer.preferences.WrtEditingPreferencePage"
            id="org.symbian.tools.wrttools.editing.preferences.WrtEditingPreferencePage"
            name="WRT">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.symbian.tools.wrttools.mainPerspective">
         <viewShortcut
               id="org.symbian.tools.wrttools.editing.wrtpreview">
         </viewShortcut>
         <view
               id="org.symbian.tools.wrttools.editing.wrtpreview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
  </plugin>
