<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="runtimes" name="Mobile Web Runtimes" schema="schema/runtimes.exsd"/>
   <extension-point id="packagers" name="Application Packagers" schema="schema/packagers.exsd"/>
   <extension-point id="projectProvider" name="Project provider" schema="schema/projectProvider.exsd"/>
   <extension-point id="runtimeIncludePath" name="Include path providers" schema="schema/runtimeIncludePath.exsd"/>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimeBridges">
      <bridge
            class="org.symbian.tools.tmw.core.internal.runtimes.MobileRuntimesBridge"
            id="org.symbian.tools.tmw.core.mobileRuntimesBridge">
      </bridge>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="tmw.core">
      </runtime-component-type>
      <runtime-component-version
            type="tmw.core"
            version="1.0">
      </runtime-component-version>
      <supported>
         <facet
               id="tmw.geolocation"
               version="1.0">
         </facet>
         <runtime-component
               id="tmw.geolocation"
               version="1.0"></runtime-component>
      </supported>
      <runtime-component-type
            id="tmw.geolocation">
      </runtime-component-type>
      <runtime-component-version
            type="tmw.geolocation"
            version="1.0">
      </runtime-component-version>
      <supported>
         <facet
               id="tmw.core"
               version="1.0">
         </facet>
         <runtime-component
               id="tmw.core"
               version="1.0">
         </runtime-component>
      </supported>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="tmw.geolocation">
         <label>
            Location Services
         </label>
         <description>
            Allows the application to query GPS location using runtime-specific APIs
         </description>
         <default-version
               version="1.0">
         </default-version>
      </project-facet>
      <project-facet-version
            facet="tmw.geolocation"
            version="1.0">
         <constraint>
            <requires
                  facet="tmw.core"
                  version="1.0">
            </requires>
         </constraint>
         <action
               type="install">
            <delegate
                  class="org.symbian.tools.tmw.core.internal.facets.InstallFacetAction">
            </delegate>
         </action>
         <action
               type="uninstall">
            <delegate
                  class="org.symbian.tools.tmw.core.internal.facets.UninstallFacetAction">
            </delegate>
         </action>
      </project-facet-version>
      <project-facet
            id="tmw.core">
         <default-version
               version="1.0">
         </default-version>
         <label>
            Core Mobile Web Runtime Support
         </label>
         <description>
            Provides core mobile web runtime APIs
         </description>
      </project-facet>
      <project-facet-version
            facet="tmw.core"
            version="1.0">
         <constraint>
            <requires
                  facet="wst.jsdt.web"
                  version="1.0">
            </requires>
         </constraint>
         <action
               type="install">
            <delegate
                  class="org.symbian.tools.tmw.core.internal.facets.InstallCoreFacetAction">
            </delegate>
            <config-factory
                  class="org.symbian.tools.tmw.core.runtimes.ProjectCreationConfigFactory">
            </config-factory>
         </action>
      </project-facet-version>
   </extension>
   <extension
         point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="org.symbian.tools.tmw.core.internal.runtimes.MobileRuntimeLibraryContainerInitializer"
            id="tmw.coreLibrary">
      </JsGlobalScopeContainerInitializer>
   </extension>
   <extension
         point="org.symbian.tools.tmw.core.projectProvider">
      <projectProvider
            class="org.symbian.tools.tmw.core.internal.projects.MTWFacetedProjectProvider">
         <enablement>
            <test
                  property="org.eclipse.wst.common.project.facet.core.projectFacet"
                  value="tmw.core">
            </test>
         </enablement>
      </projectProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.symbian.tools.tmw.core.internal.projects.TMWPropertyTester"
            id="org.symbian.tools.tmw.core"
            namespace="org.symbian.tools.tmw"
            properties="istmwproject"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>

</plugin>
