<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="deploymentTargetType" name="Provides targets for project deployments" schema="schema/deploymentTargetType.exsd"/>
   <extension-point id="targetPresentation" name="Deployment Target Presentation" schema="schema/targetPresentation.exsd"/>
	<!-- Navigator Extensions -->
	<extension point="org.eclipse.ui.navigator.viewer">
	  <viewerActionBinding
	        viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	     <includes>
	        <actionExtension
	              pattern="org.symbian.mtw.ui.navigator.MoveRename">
	        </actionExtension>
	     </includes>
	  </viewerActionBinding>
	</extension>
	 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             type="import"
             wizardId="org.symbian.tools.wrttools.importwgz">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="group.new.z"
             type="new"
             wizardId="org.symbian.tools.wrttools.core.wrtwidgetwizard">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="org.eclipse.wst.jsdt.ui.java"
             type="new"
             wizardId="org.eclipse.wst.html.ui.internal.wizard.NewHTMLWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             menuGroupId="org.eclipse.wst.jsdt.ui.java"
             type="new"
             wizardId="org.eclipse.wst.css.ui.internal.wizard.NewCSSWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IResource">
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
             type="import"
             wizardId="org.symbian.tools.wrttools.import.projectImport">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IResource">
                </adapt>
                <adapt
                      type="java.util.Collection">
                </adapt>
             </or>
          </enablement>
       </commonWizard>
		  <commonWizard
          associatedExtensionId="org.eclipse.wst.jsdt.java.ui.javaContent"
          menuGroupId="org.eclipse.wst.jsdt.ui.java"
          type="new"
          wizardId="org.eclipse.wst.jsdt.ui.NewJSWizard">
		     <enablement>
			     <or>
     <adapt
           type="org.eclipse.core.resources.IFolder">
        <test
              property="org.eclipse.core.resources.projectNature"
              value="org.eclipse.wst.jsdt.core.jsNature">
        </test>
     </adapt>
				</or>
		     </enablement>
		  </commonWizard>
    <actionProvider
          class="org.symbian.tools.mtw.ui.navigator.RenameMoveActionProvider"
          id="org.symbian.mtw.ui.navigator.MoveRename"
          overrides="org.eclipse.wst.jsdt.ui.navigator.actions.RefactorActions"
          priority="highest">
          <enablement>
             <and>
                <adapt
                  type="org.eclipse.core.resources.IProject">
                </adapt>
             </and>
          </enablement>
    </actionProvider>
 </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="org.symbian.tools.mtw"
           name="Tools for Mobile Web">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
    <handler
          class="org.symbian.tools.mtw.ui.commands.DeployHandler"
          commandId="org.symbian.tools.wrttools.commands.deploy">
       <enabledWhen>
          <reference
                definitionId="org.symbian.tools.wrttools.symbianproject">
          </reference>
       </enabledWhen>
    </handler>
  </extension>
  <extension
        point="org.symbian.tools.mtw.ui.deploymentTargetType">
     <deployment-target-type
           class="org.symbian.tools.mtw.ui.deployment.bluetooth.BluetoothTargetType"
           icon="icons/full/obj16/bluetooth.gif"
           id="org.symbian.tools.mtw.bluetooth"
           priority="10">
     </deployment-target-type>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.symbian.tools.mtw.ui.deployment.bluetooth.BluetoothTarget"
           class="org.symbian.tools.mtw.ui.deployment.bluetooth.BluetoothTargetAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter2">
        </adapter>
     </factory>
  </extension>

</plugin>
